body {
  background-color: #1b1b1b;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  padding-top: 56px;
}

.navLogo,
.navLogo2 {
  width: 60px;
}

.home-design-container .full-width-img-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.home-design-container .full-width-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.home-design-container header {
  text-align: center;
  padding: 20px;
  background-color: #1b1b1b;
}

.home-design-container h1 {
  color: white;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 10px;
  margin: 40px;
}

.home-design-container .logoImage {
  width: 200px;
  height: auto;
  margin-bottom: 0;
}

.home-design-container p {
  color: white;
  font-size: 1.5rem;
  margin-top: -20px;
}

.restaurante-design-container {
  color: white;
}

.restaurante-design-container h1,
.restaurante-design-container h2 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: capitalize;
}

.restaurante-design-container h1 {
  font-size: 90px;
}

.restaurante-design-container p {
  font-size: 1.25rem;
  text-align: justify;
}

.logoImage {
  width: 100px;
  height: auto;
  margin: 30px auto;
}

@media (max-width: 768px) {
  .restaurante-design-container h1,
  .restaurante-design-container h2 {
    font-size: 2rem;
    margin: 15px;
  }

  .restaurante-design-container p {
    font-size: 1rem;
  }
  .navLogo2 {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar-toggler {
    margin-right: 0;
  }

  .restaurante-design-container h1,
  .restaurante-design-container h2 {
    font-size: 1.5rem;
    margin: 10px;
  }

  .restaurante-design-container p {
    font-size: 0.875rem;
  }

  .logoImage {
    width: 80px;
  }

  .navLogo2 {
    display: none;
  }
}
